<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaroute.mapper.UserMapper">
      <!--通过ID获取用户-->
      <select id="getUserById" resultType="org.javaroute.model.User">
          select * from user where id=#{id};
      </select>
      <!--获取全部用户-->
      <select id="getUsers"   resultType="org.javaroute.model.User">
           select * from user;
      </select>
      <!--分页查询 获取用户-->
       <select id="getUsersByPage"  resultType="org.javaroute.model.User">
           select * from user  limit #{m},#{n};
       </select>
      <!--新增用户-->
      <insert id="insertUser" >
          insert into user (username,password) values(#{username},#{password});
      </insert>
      <!--更新用户-->
      <update id="updateUser" >
          update user set username=#{username},password=#{password} where id=#{id};
      </update>
      <!--删除用户-->
      <delete id="deleteUserById" >
          delete from user where id=#{id};
      </delete>

</mapper>